body{
    background-color: black;
}

#home {
    padding-bottom: 50px;
}

#projects {
    padding-bottom: 50px;
}

#title_page{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#title_text{
    flex-grow: 1;
    padding: 20px;
    padding-top:150px;
    padding-left:150px;
    margin:20px;
}

#title_name{
    color : white;
    line-height: 1.0;
    display: inline;
}

#title_buttons{
    flex-grow: 1;
    padding: 20px;
    padding-top:250px;
    padding-right:100px;
    margin:20px;
}

#button_list{
    list-style: none;
    /*
    padding: 0;
    margin: 0;
    */
    padding-top:250px;
    padding-right:100px;
}

a{
    color: white;
}

#list_link {
    margin-bottom: 10px;
}

#projects_view{
    flex-grow: 1;
    padding: 20px;
    padding-top:150px;
    padding-left:150px;
    margin:20px;
}

#project_cards{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#card{
    display: inline;
}

.btn_view{
    background-color:#7FA184;
}

.card_proj{
    display: inline;
}