<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
<body>
    {%- include header.html -%}
<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <h1>Welcome to My Website!</h1>
    <p>Hello! I’m Maleeha. This site showcases my work, projects, and thoughts.</p>
    <ul>
      <li><a href="/projects/">Explore my projects</a></li>
      <li><a href="/blog/">Read my blog</a></li>
      <li><a href="/resume/">Check out my resume</a></li>
    </ul>
  </div>
</main>
<!-- <footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">M Imran</h2>
    <p>Email: <a href="mailto:maleeha.imranm@gmail.com">maleeha.imranm@gmail.com</a></p>
    <p>GitHub: <a href="https://github.com/Mimran0715">Mimran0715</a></p>
  </div>
</footer> -->
{%- include footer.html -%}

</body>
</html>
